/*
   BirdLife Suomi
   Tiira-havaintoj‰rjestelm‰
   
   20090227 AJL	Tarkkuuden vaatimia muutoksia
   20090717 AJL Readonly-kentille oma muotoilu
   20100505 AJL Naytahavis-muutoksia 
   20101216 SKu kavennettu etusivun sloganin palstaa ja uutissivua.
   20110225 SKu Lis‰tty tyylit virhesivulle (404)
   20110706 AJL Lis‰tty div.omattiedot
   20110718 AJL Lis‰tty td.omattiedot ja buttoneille cursor. Yleinen input-n‰pp‰in.
   20111128 AJL Lis‰tty havisnaytto2 td.
   20120113 AJL Lis‰tty nelj‰ a.info
   20120131 AJL Lis‰tty span, joka laajennettu tooltip. "tip".
   20120314 AJL Lis‰tty kayttaja_avoimet_info ja kayttaja_avoimet_rivit
______________________________________________*/

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 75%;
/*	font-size: small; */
	margin: 0;
	padding: 0;
}

/* t‰t‰ tarvitaan ainakin havaintoselaimessa */
table.havaintolistaus
{
font-size: 92%;
margin: 1px;
padding: 1px;
}

/* etusivun mielenkiintoiset */
div.havaintolistaus
{
font-size: 93%; /*99*/
margin: 1px;
padding: 1px;
width:100%
}


tr.kapit
{
font-variant: small-caps;
}

tr.tumma
{
background-color: #eeeeee;
}

tr.vaalea
{
background-color: #FFFFFF;
}

div.lajittelu
{
padding:7px;
border: 1px solid #cccccc;
margin-bottom:5px;
margin-right:5px;
height:102px;
}

div.lajittelu_matala
{
padding:7px;
border: 1px solid #cccccc;
margin-bottom:5px;
margin-right:5px;
height:60px;
}

div.lajittelu_matala_advanced
{
padding:7px;
border: 1px solid #cccccc;
margin-bottom:5px;
margin-right:5px;
height:68px;
}

div.lajittelu_taksoni
{
padding:7px;
border: 1px solid #cccccc;
margin-bottom:5px;
margin-right:5px;
height:115px;
width:420px;
}

div.naytahavis
{
/* 20100505 AJL font-size: 100%;
margin: 5px 5px 5px 5px;
*/
margin:5px;
border:solid #A9A9A9 1px;
padding:10px 10px 10px 10px;
background:#F0F8FF;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

tr.naytahavis
{
background-color: #eeeeee;
font-size: 90%;
}

div.nh_yhdistys {
padding:10px;
border: 1px grey solid;
background:lightgrey;
}

div.nh_lajirivi{
font-size:110%;
font-weight:bold;
padding-bottom:10px;
border-bottom:solid 2px lightgrey;
border-bottom-style:ridge;
margin-bottom: 10px;
}

span.nh_alkuperaiset{
color:grey;
}

span.nh_atlaskoodi{
font-weight: bold;
font-size:110%;
}

.nh_painike {
font-size:80%;
color:   #fff;
font-weight:bold;
border:  1px solid #41751c;
background-color:#6cc22f;
padding: 0px 10px 0px 10px;
cursor: pointer; /* 20110718 AJL */	
}


div.naytaotsikko
{
font-size: 130%;
}

div.kehys
{
border: 1px solid #cccccc;
}

.kehys
{
border-right: 1px solid #cccccc;
border-bottom: 1px solid #cccccc;
}

.pystyviiva
{
border-right: 1px solid #cccccc;
}


h2, h3, h4, h5, h6 {
	margin-bottom: 5px;
}

h1 {
        font-size: 140%;	
        margin-top: 0px;	
        border-bottom: 1px solid #bbb;			 
}

h2 {
	/* font-size: 125%; */
	margin-top: 0px;
	font-size:small;
	border-bottom: 1px solid #bbb;
}

h3 {
	font-size: 125%;
}

h4 {
	font-size: 110%;
}

h5 {
	font-size: 100%;
}

h6 {
	font-size: 93%;
}

a:link {
	color: rgb(0,88,189);
}

a:visited {
	/*color: #506;*/
	color: rgb(0,88,189);
}

a:focus, a:active, a:hover {
	border-bottom: 0px solid rgb(0,88,189);
	text-decoration: none;
	background-color: #eee;
}

a.havlista:link, 
a.tip:link  {	/* 20120131 AJL */
	color: #000000; 
	text-decoration: none
}

a.havlista:visited , 
a.tip:visited  { /* 20120131 AJL */
	color: #000000; 
	text-decoration: none
}

a.havlista:focus, 
a.havlista:active, 
a.havlista:hover ,
a.tip:focus, 	/* 20120131 AJL */
a.tip:active  {	/* 20120131 AJL */
	color: #000000; 
	text-decoration: underline;
	border-bottom: none;
	background-color: transparent;
}

a.logot:focus, 
a.logot:active, 
a.logot:hover  {
	color: #000000;
	text-decoration: none;
    border-bottom: none;
    background-color: transparent;
}                                                                       

#main {
/*	border-top: 1px solid #ccc;*/
}



input
{
margin:0px;
padding:0px;
}

/*
   skip
_______________________*/



#skip {
	display: none;
}

/*
   header
_______________________*/

#header {
	background: rgb(0,103,198) url(topright.jpg) top right no-repeat; /* sininen  tausta*/
	height: 80px;
	/* border-top: 1px solid #003;   Poistaa ylim‰‰r‰isen tyhj‰n tilan Geckoissa. Muutettu 19.6.07 */
	POSITION: relative;
	border-bottom: 1px solid #ccc;
}

#header span {
	POSITION: ABSOLUTE;
	TOP: 0;
	LEFT: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: url(header.jpg) top left no-repeat;
}

#header a {
	text-decoration: none;
	color: #0067c6;
}

#header a strong {
	color: #fff;
}


/*
   nav
_______________________*/

#nav {
	width: 170px; /*200*/
	margin-top: -1px; 
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
}

#nav h3 {
	font-size: 100%;
	margin: 5px 5px 5px 9px;
}

#nav ul {
	margin: 0;
	padding-left: 0;
	list-style-type: none;
	white-space: nowrap;
}


#nav ul a {
	display: block;
	text-decoration: none;
	color: rgb(0,88,189);
	padding: 2px 0px 2px 8px;
}

#nav ul a:hover {
	border: 0;
}

#nav .special ul a:hover {
	background-color: #fff;
}

#nav ul #current a {
	background: #eee;
}

#nav ul li {
	line-height: 140%;
	border-bottom: 1px solid #ccc; /* reunuksen t‰ytyy olla alapuolella; muuten IE:ss‰ on ylim‰‰r‰ist‰ tyhj‰‰ tilaa (IE:n bugi) */
}

#nav ul li.otsikko {
     	line-height: 140%;
	color: #888;
	padding: 2px 0px 2px 8px;
	border-bottom: 1px solid #ccc; /* reunuksen t‰ytyy olla	alapuolella; muuten IE:ss‰ on ylim‰‰r‰ist‰ tyhj‰‰ tilaa	(IE:n bugi) */
}
		
#nav ul li.noborder {
	line-height: 140%;
	border-bottom: 1px solid #fff;
}

#nav ul ul {
	margin-left: 1em;
	padding-left: 0;
}


.normal {
	margin-top: -2px; /* ei vaikutusta etusivuun */		
}

	
.special {
	background: #eee;
	border-top: 4px solid rgb(0,103,198);
}

.special ul {
	border-top: 1px solid #ccc;
}

#nav h2, #user h2 {
	display: none;
}

/*
   kaverihaku
_______________________*/

#kaverihaku {
        POSITION: ABSOLUTE;
        TOP: 143PX;
        LEFT: 20PX;
        height: 21px;
        padding: 5px 5px 5px 5px;
        margin-top: -2.2em;	
}

/* etsitaksoniikkuna */
div.hakutulokset {
        POSITION: ABSOLUTE;
        top: 130px;
        left: 8px;
        height: 21px;
        padding: 0px 5px 5px 0px;
        margin-top: -2.2em;
}

table.hakutulokset_table {
       text-align:left;
       margin-left: 20px;
}

/*
   user
_______________________*/

#user {
	background: #fff;
     	POSITION: ABSOLUTE;	
	TOP: 60px; /*oli 59 */
	LEFT: 171px;
	height: 21px; /*21 t‰t‰ ja top:a s‰‰t‰m‰ll‰ kirjautumispalkin paikka*/
	/*padding: 5px 5px 5px 5px;*/
	/*padding: 5px 5px 5px 5px;*/
	/*margin-top: -2.2em;*/
	/*font-size: 88%;*/
	font-size: x-small;
	border: 1px solid #ccc;
	border-bottom: none

}

#user p, #user ul, #user li {
	display: inline;
}

#user li{
       margin: 0 0 0 2px;
}

#user-logout a {
	/* padding: 5px; */
	padding:4px;
	margin-left: 20px;
	color: #ff0000;
	background-color: #ffeeee;
	border:0px;
	text-decoration:none;
}


#user-info a {
	padding: 4px;
    margin-left: 20px;
    border:0px;
    text-decoration:none;
}

#user-logged {
padding:4px 4px 4px 4px;
}

#user-time {
margin: 0px 5px 0px 20px;
}

#user ul {
	margin: 0 0 0 2px;
	padding: 0;
}

#user small {
	/*font-size: 88%;*/
	font-size: x-small;
}

#user form
{
	display: inline;	
}

#user-login  
{
	background-color: #f1f1f1;
	border: 1px solid #ccc;

}


#user .formdiv {
	background-color: #f1f1f1;
	border: 1px solid #ccc;
	height:21px;
	display: inline;	
}

#user .textfield
{
	font-size: small;
	width: 50px;
}

/* kirjautumisnappula */
#user .loginbutton
{
	font-size: x-small;
	background-color:	 #f1f1f1;
	color:	 #666;
	border:	 1px solid #666666;
	padding:0px 5px 0px 5px;
	width:auto;
	overflow:visible;
	cursor: pointer; /* 20110718 AJL */	
}


/*
   footer
_______________________*/

#footer {
	/*width: 180px;*/
	padding: 2em 10px 10px 10px;
	color: #666;
	font-size: 80%;
}

/*
   Forms
___________*/

.formtable {
	border-collapse: collapse;
}


.formtable td {
	vertical-align: top;
}

.formtable tr {
}
.formtable th {
        vertical-align: top;
}

/* KƒYTETƒƒN vanhoissa ILMOLOMAKKEISSA, pois */
td.left {
	text-align: right;
}

td.right { /* KƒYTETƒƒN uusissa ILMOLOMAKKEISSA*/
        text-align: right;
}

.formtableb {
        border-collapse: collapse;
        margin: 0px 0px 4px 2px
}        

.formtableb td {
		vertical-align: middle;
		padding: 0px 1px 0px 0px;
}
        
.formtableb tr {
} 

/* ainakin k‰ytet‰‰n ilmolomakkeen solujen otsikossa */
.formtableb th {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-align:left;
  font-size:90%;

}

/* ilmolomakkeen otsikkotekstit */
.ilmootsikko {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-align:left;
  font-size:90%;
}

.nofill td {
	background-color: #fff;
	padding-top: 0.7em;
}


.nofill td h4 {
	margin: 0;
}


.required {
	color: #d00;
	font-weight: bold;
}

.fill_this { /* ainakin ilmolomakkeet k‰ytt‰‰ */
	font-weight: bold;
	color: #d00;
	background-color: #fcc; 
}
/*
.fill_this tr {
        font-weight: bold;
        color: #d00;
        background-color: #fcc;
}
*/
.error_reason {
	font-weight: normal;
}

/* omattiedot ja yhdistysk‰ytt‰j‰ˆpoisto -namiskat */
input.f-submit {
/*        background-color: rgb(235,243,247); */
        background-color: rgb(235,243,255); /*280*/		
	padding: 2px 4px;
	border-top: 1px solid #999;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	border-left: 1px solid #999;
}

form{
	padding: 0px;
	margin: 0px;
}



/*
   content & muut
_______________________*/

#content {
	border-left: 1px solid #ccc;
	padding: 1em 5px 5px 10px;
	POSITION: ABSOLUTE;
	top: 81px;
	left:170px; /*200*/
}

#content img {
/*
	border: 1px solid #666;
	margin: 0 2px 5px 5px;
*/
}


h1 {
	margin: 0 0 0.6em 0;	/* Aikaansaa samanlaisen ulkoasun IE:ssa ja Geckoissa. Yl‰marginaali m‰‰ritet‰‰n #contentin paddingilla. */
}

/* datatablea k‰ytet‰‰n lajin tietojen tarkastelussa */
.datatable {
	margin: 0.5em 0 10px 0;
	border-collapse: collapse;
	border: 1px solid #ddd;
	font-size: 100%;	 
}

.datatable th {
	text-align: left;
	padding: 3px;
	border: 1px solid #ddd;
	vertical-align: top;
	background: #ddd;
	font-weight: normal;
}

.datatable td {
	border: 1px solid #ddd;
	vertical-align: top;
	padding: 5px 7px 2px 3px;
}

.datatable td a {

}


/* naytahavis.php k‰ytt‰‰ */
.havisnaytto {
        margin: 0.5em 0 10px 0;
        border-collapse: collapse;
        border: 1px solid #ddd;
        font-size: 100%;
}

.havisnaytto2 {
       margin: 0.5em 0 10px 0;
       border-collapse: collapse;
       font-size: 100%;
}

.havisnaytto2 td {
        vertical-align: top;
}
								

/* naytahavis.php k‰ytt‰‰ */
.havisnaytto td {
        vertical-align: top;
        padding: 2px 3px 2px 2px;
}
			
				

.odd {
	background-color: #f1f1f1;	/* Hyvin vaalean harmaa*/
}

p {
	margin-top: 0;
	line-height: 132%;
	letter-spacing: 0.01em;
	word-spacing: 0.05em;
}

#to_top {
	font-size: 93%;
	margin: 2em -5px 0 -15px;
	padding: 5px 5px 5px 15px;
	border-top: 1px dashed #ccc;
}

.search-criteria {
	text-transform: uppercase;
}

#stats {
	float: right;
	border-collapse: collapse;
	font-size: 93%;
	background-color: #fff;
	margin-left: 1em;
}

#stats td {
	vertical-align: top;
	padding: 5px 7px 2px 3px;
	border: 1px solid #ccc;
}


#stats .rows {
	background-color: #f1f1f1;	
}

#stats .nro {
	text-align: right;	
}



#news {
	margin: 2em 0 1em -5px;
	background: #f1f1f1;
	padding: 10px;
}

#news h2 {
	margin-top: 0;
}

#news p {
	margin-bottom: 0;
}

#news h3 {
	font-size: 100%;
}

.date {
	font-size: 93%;
	font-style: italic;
	margin-bottom: 0.3em;
	color: #444;
}

#content .icon {
	border: 0;
	margin-left: 0.1em;
}

#content .large-icon {
	border: 0;
	margin: 0 0.05em 0 0;
}

.differ {
	border-top: 1px solid #ccc;
	margin-top: 2px;
	padding-top: 2px;
}

.arrowlinks a {
	border: 1px solid #77787B;
	text-decoration: none;
	padding: 0 3px 3px 3px;
	background: rgb(235,243,247);
}

.taxon-family {
	margin-left: 0;
	font-weight: bold;
}

.taxon-genus {
	margin-left: 1em;
	font-weight: bold;
}

.taxon-species {
	margin-left: 2em;
	font-weight: bold;
}

.taxon-subspecies {
	margin-left: 3em;
	font-weight: bold;
}

.this {
	background-color: rgb(214, 231, 239);
}

/* Nappulan tyyli */
.button 
{	
	font-size:80%; 
	background-color:	 #ffffff;
	color:	 #000000;
	/*font-weight:	 bold;*/
	border:	 1px solid #666666;
	padding:0px 5px 0px 5px;
	width:auto;
	overflow:visible;
	cursor: pointer; /* 20110718 AJL */	
}

span.submitbutton { /* vihre‰ namiska */
	border:  1px solid #41751c;
	background-color:#6cc22f;
	padding:2px 0px 0px 5px; /* yl‰ oik ala vas */
	margin:0px 0px 0px 5px;
}

span.submitbutton2 { /* vihre‰ namiska tasaus vasempaan reunaan */
        border:  1px solid #41751c;
        background-color:#6cc22f;
        padding:2px 0px 0px 5px; /* yl‰ oik ala vas */
        margin:0px 0px 0px 0px;
}
				
span.submitbutton input { /* vihre‰ inputnaimiska */
	font-size:80%;
	color:	 #fff;
	font-weight:bold;
	padding: 0px 15px 0px 10px;
	margin: 5px 1px 2px 1px;
	width:auto;                                                                                                         
	overflow:visible;       
	background-color: transparent;	
	border: none;
	cursor: pointer; /* 20110718 AJL */	
}

span.submitbutton button { /* vihre‰ inputnaimiska */
        font-size:80%;
        color:   #fff;
        font-weight:bold;
        padding: 0px 15px 0px 10px;
        margin: 5px 1px 2px 1px;
        width:auto;
        overflow:visible;
		background-color: transparent;
        border: none;
		cursor: pointer; /* 20110718 AJL */	
}
	
span.submitbutton2 input { /* vihre‰ inputnaimiska tasaus vasempaan reunaan */
        font-size:80%;
        color:   #fff;
        font-weight:bold;
        padding: 0px 15px 0px 10px;
        margin: 5px 0px 2px 0px;
        width:auto;
        overflow:visible;
		background-color: transparent;
        border: none;
		cursor: pointer; /* 20110718 AJL */	
}	

span.submitbutton2 button { /* vihre‰ inputnaimiska tasaus vasempaan reunaan */
        font-size:80%;
        color:   #fff;
        font-weight:bold;
        padding: 0px 15px 0px 10px;
        margin: 5px 0px 2px 0px;
        width:auto;
		overflow:visible;
		background-color: transparent;
        border: none;
		cursor: pointer; /* 20110718 AJL */	
}
	
span.resetbutton {
	border:  1px solid #b26f63;
	background-color:#ff9f8d;
	padding:0px 5px 0px 5px;
	margin:0px 0px 0px 5px;
}

span.resetbutton input {	
	font-size:80%;
	color:	 #fff;
	font-weight:bold;
	padding: 0px 5px 0px 5px;
	width:auto;                                                                                                         
	overflow:visible;       
	background-color: transparent;	
	border: none;
	cursor: pointer; /* 20110718 AJL */	
}

/* lomakkeen solut joissa ei tekstikenttaa mutta silti syotettya dataa*/
div.formdatacell
{
	background-color: #fff;
	color: #777;
	border: 1px solid #ccc;
	padding: 2px;
}

/* 20090717 AJL Lomakkeen solut joissa readonly tekstikenttaa*/
.formreadonlycell
{
	background-color: #fff;
	color: #777;
	padding: 2px;
	border : none;
}

/* lomakkeen ohje*/
div.formhelp
{
	text-align:left;
	/* width:320px; oli 220 20090227 AJL poistettu*/
	height:135px; /* oli 100 20090227 AJL 105-145*/
	margin: 0px 0px 0px 15px; /* oli 20 */
	padding: 10px;
	font-size:x-small;
	border:1px solid #ebebac;
	background-color: #ffffbb;
}

td.formhelp_selain
{
        text-align:left;
        width:392px;
        height:84px; /* 82 riitt‰isi firefoxissa */
        margin: 0px 0px 10px 0px;
        padding: 10px;
        font-size:x-small;
        border:1px solid #ebebac;
	background-color: #ffffbb;
}


/* ilmosivun muoto */

table.formheader
{
	border-collapse: collapse;
	width:750px;
}

td.formheader {
	width:134px;
	text-align:center;
	border-left: 1px solid #ccc;
	border-right: none;
	border-top:1px solid #ccc;
	border-bottom: none;
	background-color: #fafafa;
	color:#aaaaaa; 
	font-weight:bold;
	font-size:x-small;
}


td.formheadertile img{
	padding:0px;
	margin:0px;
	background-color: #fafafa;
}

td.formheadertail {
	width:605px;
	text-align:right;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 1px solid #ccc;
	background-color: #ffffff;

}

div.formbody {
	clear:both;
	width:750px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top:none;
	border-bottom: 1px solid #ccc;
	padding: 4px;
	background-color: #fafafa;
}

div.ruler
{
	border-top: 1px dashed #ccc;
	height:1px;
	width: 100%;
	font-size:	1px;
	line-height: 0;
	margin: 5px 0px 5px 0px;
}

.etusivun_sloganin_esittely
{
     font-size: 12px;
     color: #999999;
     margin-left: 10px;
     font-weight: bold;
     width: 700px;
}
				
.etusivun_tilasto
{
       font-size: 10px;
       margin-left: 10px;
}

.etusivun_otsikko
{
     font-size: 18px;
     margin-left: 10px;
     font-weight: bold;
}
					
div.www-raportti /* www-sivujen havislista */
{
  margin-left: 10px;
  font-size: 12px;
  clear:left;
}

div.www-raportti_intro /* www-sivujen alkujargonit */
{
   margin-left: 10px;
   margin-right: 10px;
   float: left;
}
	 
div.www-raportti_logo /* tallennuslogo */
{
 margin-top: 8px;
}
	  
/* printtaa advancedhaussa copyrightin (teemassa) ja kuluneen ajan */
div.copytext
{
 color:	#707070;
 margin: 5px;
}

tr.rkdata
{
font-size: 80%;
background-color: silver;
}

/* yhdistyskayttajat nettiin julkinen k‰ytt‰‰ */
div.yhdistyskayt {
border: 1px solid #cccccc;
background-color: #E0E0E0;
font-size: 90%;
margin: 0.5cm 9cm 0.5cm 0.3cm; /*yl‰, oikea,ala, vasen*/
padding: 6px;
}

table.stattaul {
border: 1px solid #cccccc;
background-color: #F7F7F7;
}

td.stattaul2 {
text-align: left;
}

td.stattaul3 {
text-align: right;
}

/* atlaskoodiohje k‰ytt‰‰ */
body.atlas {
 margin: 10px;
}

/* selaa lajeja k‰ytt‰‰ fontin pienent‰miseen */
table.taksonilista {
 font-size:  80%; 
}

/*t‰m‰ korvaisi vihre‰t namiskat. Simppelimpi m‰‰rittely. Ei k‰ytˆss‰ class=btn*/
/*
button.btn {
   color:#fff;
   font-size:80%;
   font-weight:bold;
   background-color:#6cc22f;
   border:  1px solid #41751c;
}
*/

.havaintosivutable td {
   padding-right:7px;
}

.havaintosivutable_lastrow td {
   padding-top:20px
}

.havaintosivutable td.otsikko_left {
   background-color:#eeeeee;
}

.havaintosivutable td.otsikko_right {
   background-color:#eeeeee;
   text-align:center;
}

.uutiset_palsta {
width: 500px;
}

.pagenotfound {
width:100%;
text-align:center;
padding-top:100px;
}

/* 20110706 AJL */
div.omattiedot
{
padding:7px;
border: 1px solid #cccccc;
margin-bottom:5px;
margin-right:5px;
padding-right:50px;
/* width:500px; */
}

/* 20110718 AJL */
td.omattiedot
{
	text-align: right;
    width: 240px;
}

/* 20110718 AJL */	
input.painike {
font-size:80%;
color:   #fff;
font-weight:bold;
border:  1px solid #41751c;
background-color:#6cc22f;
padding: 0px 10px 0px 10px;
cursor: pointer;
}

/* 20120113 AJL */
a.info{
	position:relative; /*this is the key*/
	z-index:24; 
	text-decoration:none
}

/* 20120113 AJL */
a.info:hover{
	z-index:25; 
}

/* 20120113 AJL */
a.info span{
	display: none
}

/* 20120113 AJL */
a.info:hover span { /*the span will display just on :hover state*/
	display:block;
	position:absolute;
	top:2em; left:2em; 
	width: 600px;
	border:1px solid #0cf;
	background-color:#cff; color:#000;
	text-align: left
}

/* 20120131 AJL */
a.tip {
    text-decoration: none
}

/* 20120131 AJL */
a.tip:hover {
    position: relative
}

/* 20120131 AJL */
a.tip span {
    display: none
}

/* 20120131 AJL */
a.tip:hover span {
    border: #c0c0c0 1px dotted;
    padding: 5px 20px 5px 5px;
    display: block;
    z-index: 100;
    background-color: #66FFCC;
    left: 0px;
    margin: 10px;
    width: 250px;
    position: absolute;
    top: 10px;
    text-decoration: none
}

div.kayttaja_avoimet_info
{
	float:right;
	width:450px;
	text-align:left;
	margin: 0px 0px 0px 15px; 
	padding: 10px;
	font-size:x-small;
	border:1px solid #ebebac;
	background-color: #ffffbb;
}

div.kayttaja_avoimet_rivit
{
	float:left;
}
